/*GERAL*/
body { 
  font-family: 'Montserrat', sans-serif;
}
  
p {
  font-family: 'Roboto', sans-serif;
}

.container-fixo {
  max-width: 1100px;
  margin: 0 auto;
}

.container-equipe {
  max-width: 960px;
  margin: 0 auto;
}

/*MENU SERVIÇOS*/

.menu-servicos {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.bg-servicos {
  background-image: url("../img/bg-servicos3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-servicos h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}

@media (max-width: 750px) {
  .bg-servicos h1 {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
  }
}  

@media (max-width: 750px) {
   .logo img {
    max-width: 161px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*TEXTOS SERVIÇOS*/
.texto-servicos {
  margin: 80px 10px;
  flex-basis:60%;
}

.texto-servicos p {
  margin: 12px 0 12px 30px;
  line-height: 20px;
}

.texto-servicos p::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #ef2a25;
  display: inline-flex;
  margin-right: 20px;
}

span .teste {
  font-family: 'Roboto', sans-serif;
}

.espaco-servicos span {  
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  margin-left: 60px;
}

/*IMAGEM SERVIÇOS*/

.aEmpresa {
  display: flex;
}

.img-servicos {
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  flex-basis: 40%;
}

.imagem-servicos {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

/*A EMPRESA MOBILE*/

@media (max-width: 750px) {
  .aEmpresa {
   flex-wrap: wrap;
  }

  .texto-servicos {
    flex-basis: 100%;
    font-size: 14px;
    margin: 20px 0;
  }
  
  .img-servicos {
    margin: 10px 20px;
    flex-basis: 100%;
  }
}

/*BOTÃO*/

.button-home {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-home a {
  text-decoration: none;
}

.button {
  width: 120px;
  height: 40px;
  background: #ef5025;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button p {
  margin: 0 auto;
  color: #fff;
}

@media (max-width: 750px) {
  .button {
  margin-top: 30px;
  }
}

/*FOOTER*/

footer {
    width: 100%;
    background-color: #2d2d2d;
    background-size: cover;
}
  
.contatoFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
  
.contatoFooter h4 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 20px;
  margin-top: 50px ;
  margin-bottom: 15px;
}
  
.contatoFooter h4:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
}
  
.contatoFooter p {
  color: #fff;
  line-height: 20px;
}
  
.boxFooter {
  margin: 0 10px;
}
  
/*FOOTER MOBILE*/
  
@media (max-width:606px) {
  .boxFooter {
    width: 250px;
    justify-content: flex-start;
    margin-left: 30px;
  }
}  
  
@media (max-width:579px) {
  .contatoFooter {
    width: 250px;
    margin-left: 20px;
  }
}
  
@media (max-width:548px) {
  .contatoFooter {
    flex-direction: column;
    margin-left: 20px;
  }
}
  
/*DIREITOS FOOTER*/
  
.direitos {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
}
  
.boxDireitos p {
  font-size: 14px;
  color: #fff;
  margin: 0 20px;
  padding-top: 14px;
}
  
  
/* DIREITOS FOOTER MOBILE*/
  
@media (max-width:750px) {
  .boxDireitos p {
    font-size: 12px;
  }
} 

/*EQUIPE*/

#equipe {
  margin: 50px 20px;
}

.titulo-equipe{
  margin-bottom: 30px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 40px;
}

.card-dois {
  width: 14rem;
  background-color:  #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, 0.2);
}

.card-dois .card-dois-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -5rem;
  margin-bottom: -20px;
  z-index: 999;
  border: 0.75rem solid #ebeef8;
}

.card-dois h1 {
  font-size: 1.15rem;
  margin: 18px 0 10px 0;
  font-weight: 500;
}

.job-title {
  color: #ef2a25;
  font-size: 1rem;
}

.about {
  height: 75px;
  font-size: 14px;
  margin: 1rem 15px;
  font-style: italic;
  text-align: center;
  color: #333;
}